@import "../utilities/variables";

html,
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.7rem;
    font-size: 1.1rem;
    width: 100%;
}

h2 {
    font-size: 1.6rem;
    padding: 25px;
    font-weight: bold;
    color: $color-tercero;
    text-align: center;
}

h3 {
    color: $color-cuarto;
    text-align: center;
}

p {
    font-weight: 300;
}