@import "../utilities/variables";

.containerNav {
    background: linear-gradient(to bottom, $color-primario 0%, $color-secundario 200%);
}

.containerNav--logo {
    width: 250px;
    height: 50px;
    margin-left: 10px;
}

.containerNav--link {
    margin-left: 20px;
    font-weight: 500;
}

.containerNav--link:hover {
    color: $blanco !important;
    font-weight: 600 !important;
}